html, body {
height: 100%;
}
body {
    background: url(../images/bg.jpg) no-repeat fixed -60px -15px; 
    background-size: 150% 150%;
     /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
header > Div.Logo{
    width:100%;
    
}
header > Div.Logo > a > h1{
    text-align: center;
    text-shadow: 0 0 0 4px #000;
}

.Logo  > a {
    width:100%;
    
}

nav > ul > li {
    display: inline-block;
    margin: 3px 20px;
    margin-left: 20px;
}
nav > ul > li > a {
    text-decoration:none;
    background-color:tomato;
    display:block;
    padding: 0 10px;
    -webkit-transition:background-color;
    -moz-transition:background-color;
    -o-transition: background-color;
    transition: background-color;
    transition-duration: 1s;
    transition-delay: 0.1s;
}
nav > ul > li > a:hover {
    background-color:green;
}


nav  {
    overflow: auto;
    background-color: grey;
    list-style: none;
   
    
}
nav > ul:first-child{
    margin-left:9%;
}
.mailto {
    width:50%
}
input   {   
    width: 350px;
    
border: 1px solid #999;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.Rec   {
   
}


.RecLogo {
    
    float:left;
}    
 
.Logo {
    background: url(../images/HeaderLogo.png);
    overflow:hidden;
    position: relative;
right: 0px;
bottom: 0px;
background-position: 0 -228px;
}
.barrowa {
    max-width:100px;
    position: absolute;
left: 15%;



}
.barrowimg {
    position:relative;
    top: 17px;
}
.barrowa:hover {
    max-width: 105px;
}

.Sidebar > div {
    box-sizing:border-box;
    background-color:yellow;
    float:right;
    width:14%;
    margin:3px;
    margin-left:10px;
    visibility:hidden;
}
.MainWrapper , .MainWrapperB {
    /*background: url(../images/bg.jpg)no-repeat center center fixed*/
    background: url(../images/Paper-BG.jpg);
    box-sizing:border-box;
    width:80%;
    margin: 10px auto;
    background-color:#BADA55;
    margin: 10px auto;
    margin-bottom:0;
    padding-top: 3%;
    height: auto !important;
    min-height: 100%;
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
      padding: 3%;
      
}
.MainWrapperB {
    
      padding-top: 75px
}
.read { 
    width:100%;
    height:800px;
}

#Text {
    width:30em; border-style: solid; overflow:auto;
    max-width:100%;

    margin: 5px auto;
}
.BooksForYear{
   padding: 20px;
   width:50%;
   box-sizing:border-box;
   float: left;
}
.BooksForYear:before{
    .clearfix:after 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;

}
.BookClassContainer {
    text-align:center;
    width:100%;
    padding: 2.5% 0px;
    margin:1em;
    background-color:aquamarine;
    background: url(../images/NumberClass.jpg) center center;
    background-size: contain;
    background-size: cover;
    font-size: 1.5em;
    border-radius: 7px;
    filter: grayscale(80%);
    -webkit-filter:grayscale(80%);
    transition: filter 0.5s ease;
    -webkit-transition:filter 0.5s ease;
    -moz-transition:filter 0.5s ease;
    -o-transition:filter 0.5s ease;
    margin-left: 0;
}

    .BookClassContainer:hover {
        filter: grayscale(0);
        -webkit-filter:grayscale(0);
    }


.BookClassContainer > a {
    text-decoration:none;
}
.AvtoriWrapper {
     height: 509px;     
     box-sizing:border-box;
     width:50%;
     margin-left: 50%;
     padding: 20px;
}
.RightBiblo {
    text-align:center;
    width:100%;
    padding: 2.5% 0px;
    margin:1em;
    background-color:aquamarine;
    background: url(../images/NumberClass.jpg) center center;
    background-size: contain;
    background-size: cover;
    font-size: 1.5em;
    border-radius: 7px;
    filter: grayscale(80%);
    -webkit-filter:grayscale(80%);
    transition: filter 0.5s ease;
    -webkit-transition:filter 0.5s ease;
    -moz-transition:filter 0.5s ease;
    -o-transition:filter 0.5s ease;
    margin-left: 0;
    height: 4.6em;
    line-height: 5em;
}
.ContentsWrapper > div > a {
    color: white;
}

.RightBiblo > span {
    display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.left-countainer {
    float: left; width: 33%;
}
.middle-container {
    display: inline-block; width: 34%;
    
}
.right-container {
    float: right; width: 33%;
}
.3collectorWrapper > a {
    font-family: Overlock;

}


    .map {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .map img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }


.table     { display: table }
.tr        { display: table-row }
.thead     { display: table-header-group }
.tbody     { display: table-row-group }
.tfoot     { display: table-footer-group }
.col       { display: table-column }
.colgroup  { display: table-column-group }
.td, th    { display: table-cell }
.caption   { display: table-caption }

main > .TableWrapper {
    
    overflow:auto;
      width: 80%;
  
  margin: 0 auto; 
  border: solid 3px;
  max-height: 600px;
}
.Proizvedenie {
    width:20%;
}
td {
    padding: 15px;
    width:20%;
}
.AvtorImage {
    float:left;
    width: 40%;
margin-right: 20px;
}

table {
    border: 2px solid black;
    margin: 0 auto;
    background-color: rgba(249, 173, 17, 0.28);
}
td, tr {
    border: 1px solid black;
}
.Avtor {
    width: 25%;
}
.TableSpliter {
    background-color:black;
    height:10px;
}


img {
max-width:100%;

}

.FooterWrapper   {
   position:relative;
    width: 100%;
    Height: 200px;
    background-color: firebrick;
   
}
footer:after ,main:after  {
    content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
footer > .FooterSignature  {
    
    width:200px;
     position: absolute;
    bottom: 0;
    right: 0;
    
}


    text-align: center;
display: block;


 .DFSGLogo {
    position: relative;
    top: 2em;
    
    padding-left: 15%;
}


